*{
  margin: 0;
}

.registration{
  font-family: Walsheim, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.register-container{
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  height: 590px;
  width: 700px;
  max-width: 100%;
  min-height: 480px;
}

.register-form form{
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label{
  display: inline-block;
  height: 10px;
  width: 670px;
  text-align: left;
}

.social-register{
  margin: 20px 0;
}

.social-register a{
  border: 1px solid #fff;
  background: white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  margin-top: -10px;
  height: 40px;
  width: 40px;
}

.register-container input{
  background: #eee;
  border: none;
  padding: 12px 15px;
  text-align: left;
  margin: 10px 30px;
  width: 100%;
}

.register-button{
  font-family: Walsheim, sans-serif !important;
  border-radius: 20px;
  border: none;
  background: #b3d9ff;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 35px;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: upercase;
  transition: transform 80ms ease-in;
}

.register-button:active{
  transform: scale(0.95);
}

.register-button:focus{
  outline: none;
}

.register-button:hover{
  cursor: pointer;
}

.regsister-button.ghost{
  background: transparent;
  border-color: #fff;
}


.h-line {
  clear: both;
  display: block;
  width: 100%;
  background-color: #f2f2f2;
  height: 1px;
}
