.postUploader{
	display: flex;
	position: sticky;
	flex-direction: column;
	padding: 10px;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 5px;
	top: 110px;
}

.postUploader-progress{
	width: 100%;
	margin-bottom: 10px;
}

.postUploader-caption{
	border: 1px solid lightgrey;
	padding: 10px;
	border-radius: 0;
	margin-bottom: 10px;
}

.postUploader-file{
	border-radius: 0;
	margin-bottom: 10px;
	width: auto;
}

.postUploader-button:focus{
	outline: none;
}