 *{
 	margin: 0;
 }

 .background{
 	position: fixed;
 	overflow: auto;
 	height: 100%;
 	width: 100%;
 	background-image: linear-gradient(to bottom, #ECE9E6, #FFFFFF);
 }

 .mainpage-posts{
 	display: flex;
 	flex-direction: column;
 	flex-shrink: 0;
 	align-items: center;
 }
