 *{
 	margin: 0;
 }

 .background{
 	position: fixed;
 	overflow: auto;
 	height: 100%;
 	width: 100%;
 	background-image: linear-gradient(to bottom, #ECE9E6, #FFFFFF);
 }

 .mainpage-posts{
 	display: flex;
 	justify-content: center;
 	padding: 20px;
 }

.mainpage-posts-left{
	margin-left: 50px;
}

.mainpage-posts-right{
	margin-left: 20px;
	margin-top: 20px;
}

.mainpage-postUploader{
	flex-shrink: 2;
	width: 500px;
	margin-left: -200px;
}