.modal-width{
	min-width: 50%;
}

.modal-padding{
	padding: 0px !important;
}


.postModal{
	padding: 0px !important;
	margin: 0px !important;
}

.postModal-container{
	display: flex;
}

.postModal-image-container{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.postModal-image{
	object-fit: cover;
	height: 600px;
	width: 600px;
}

.postModal-text{

}