.modal-width{
	min-width: 50%;
}

.modal-padding{
	padding: 0px !important;
}

.postModal-container{
	display: flex;
}

.postModal-image-container{
	display: flex;
	flex: 2; 
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.postModal-right{
	width: 35%;
}

.postModal-image{
	object-fit: cover;
	height: 100%;
	width: auto;
	min-height: 600px;
}

.postModal-container-owner{
	display: flex;
	padding: 10px;
	width: 100% !important;
	border-bottom: 1px solid lightgrey !important;
}

.postModal-text{
	font-weight: normal;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 20px;
}

/*Comment TextField Stuff*/
.postModal-commentline{
	position: absolute;
	bottom: 0;
	width: inherit;
	max-width: 100%;
	border-top: 1px solid lightgrey;
}

.postModal-form{
	display: flex;
	justify-content: center;
}

.postModal-comments{
	margin-left: 10px;
	padding: 10px;
}

.postModal-iconrow{
	position: absolute;
	bottom: 40px;
}

.postModal-textfield{
	border: none;
	border-radius: 0;
	background-color: white !important;
	padding: 10px;
	padding-left: 18px !important;
}

.postModal-textfield:focus{
	outline: none;
}


/*Post Button Stuff*/
.postModal-postButton{
	color: #6082a3;
	position: absolute;
	right: 0px;
}

.postModal-postButton:hover{
	text-decoration: none !important;
}

.postModal-postButton:focus{
	text-decoration: none !important;
	outline: none !important;
}

.postModal-postButton:active{
	outline: none !important;
	border: none !important;
}

