.Modal-width{
	min-width: 50%;
}

.Modal-padding{
	padding: 0px !important;
}


.PostModal{
	padding: 0px !important;
	margin: 0px !important;
}

.PostModal-container{
	display: flex;
}

.PostModal-image-container{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.PostModal-image{
	object-fit: cover;
	height: 600px;
	width: 600px;
}

.PostModal-text{

}