*{
	margin: 0;
}

.main-title{
	font-family: 'Sansita Swashed', cursive;
}

/*/////////////////////////////////////*/
/*--Searching Stuff--*/
.navigation_search{
	display: flex;
	flex-direction: row;
	flex: 1;
}

.searchbar_sizing{
	max-width: 400px;
	width: 100%;
}

.searchButton{
	margin-left: 5px;
}
/*/////////////////////////////////////*/
.link{
	color: white;
	text-decoration: none;
}

