.post{
	background-color: white;
	width: 500px;
	border: 1px solid lightgray;
	border-radius: 10px;
	margin-bottom: 10px; 
	margin-top: 20px;
}

.post-image{
	width: 100%;
	object-fit: contain;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.post-text{
	font-weight: normal;
	font-size: 16px;
	margin-left: 20px;
}

.post-header{
	display: flex;
	align-items: center;
	padding: 20px;
}

.post-avatar{
	margin-right: 10px;
	height: 35px !important;
	width: 35px !important;
}

.icon-button:focus{
	outline: none;
}

.post-hline{
	position: relative;
	width: 100%;
	background-color: #f2f2f2;
	margin-top: -5px;
}

.post-iconrow{
	margin-left: 5px;
}

.avuse-name{
	margin-top: 5px;
}

.post-textfield{
	border: none;
	border-radius: 0;
	background-color: white !important;
	padding: 5px;
	padding-left: 18px !important;
}

.post-textfield:focus{
	outline: none;
}

.post-commentline{
	display: flex;
	margin-bottom: 10px;
	margin-top: -5px;
}


.post-textfield{
	flex: 1;
	border: none;
	border-radius: 0;
	background-color: white !important;
	padding: 10px;
	padding-left: 18px !important;
}

.post-textfield:focus{
	outline: none;
}

.post-postButton{
	flex: 0;
	color: #6082a3;
}

.post-postButton:hover{
	text-decoration: none !important;
}

.post-postButton:focus{
	text-decoration: none !important;
	outline: none !important;
}

.post-postButton:active{
	outline: none !important;
	border: none !important;
}

.post-comments{
	margin-left: 10px;
	padding: 10px;
}